

<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5>Ship/Depot Info Create</h5>
    </div>


    <input type="text" id="hdnShipDepotId" hidden="" value="0" />
    <input type="text" id="hdnSetupBy" hidden="" value="0" />
    <input type="text" id="hdnSetupDateTime" hidden="" value="0" />


    <div class="panel-body">
        <form class="form-horizontal" role="form" style="margin-left: 10px">
            <div class="row">


                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Ship/Depot Code
                    </label>
                    <div class="col-md-4">
                        <input type="text" readonly="" id="txtShipDepotCode" class="form-control" placeholder="Ship/Depot Code(Auto)">
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Directorate Name
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlAdmin">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Category
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlCategory">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Ship/Depot Name
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtShipDepotName" class="form-control" placeholder="Enter Ship/Depot Name">
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Date Of Commission
                    </label>
                    <div class="col-md-8">
                        <input readonly="" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-medium date-picker" id="dateOfCommission" placeholder="Select Date" size="16" type="text" value="">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">
                        W/T Call Sign
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtWTCallSign" class="form-control" placeholder="Enter W/T Call Sign ">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Capability of weapons
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlCapabilityOfWeapons">
                            <option></option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Type of The Ship
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlTypeOfShip">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-4 control-label">
                        Telephone
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtTelephone" class="form-control" placeholder="Enter Telephone">
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-4 control-label">
                        Email
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtEmail" class="form-control" placeholder="Enter Email">
                    </div>
                </div>


                <div class="form-group ">
                    <label class="col-md-4 control-label">
                        Fax No
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtFaxNo" class="form-control" placeholder="Enter Fax No">
                    </div>
                </div>


                <div class="form-group ">
                    <label class="col-md-4 control-label">
                        Web site Address
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtWebAddress" class="form-control" placeholder="Enter Web site Address ">
                    </div>
                </div>



                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label">
                        Is Active
                    </label>
                </div>

            </div>

            <div class="form-actions right1">
                <button type="button" id="btnSubmit" class="btn btn-primary">
                    Save
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger">
                    Reset
                </button>

            </div>


        </form>
    </div>
</div>
