
<link href="~/Scripts/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="panel panel-primary dialog-panel">

    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Program Id</th>
                <th>Indent No</th>
                <th>Indent from</th>
                <th>Issue To</th>
                <th>Item Name</th>
                <th>Composite Name</th>
                <th>Indent Validity</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Program Id</th>
                <th>Indent No</th>
                <th>Indent from</th>
                <th>Issue To</th>
                <th>Item Name</th>
                <th>Composite Name</th>
                <th>Indent Validity</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </tfoot>

    </table>
</div>

