
<h3>Change Password</h3>

<input type="text" id="hdnEmpId" hidden="" value="0" />

<div class="portlet-body form">
    <form class="form-horizontal" id="validation" role="form">
        <div class="form-body">


            <div class="form-group">
                <label class="col-md-5 control-label">
                    User ID
                </label>
                <div class="col-md-7">
                    <input  type="text" id="txtUserId" class="form-control" placeholder="User Id">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-5 control-label">
                    User Name
                </label>
                <div class="col-md-7">
                    <input type="text" id="txtUserName" readonly="" class="form-control" placeholder="User Name">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-5 control-label">
                    New Password
                </label>
                <div class="col-md-7">
                    <input required name="newPass" type="password" id="txtNewPassword" class="form-control" placeholder="New Password">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-5 control-label">
                    Verify New Password
                </label>
                <div class="col-md-7">
                    <input required name="verifyPass" type="password" id="txtVerifyNewPassword" class="form-control" placeholder="Verify New Password">
                </div>
            </div>

        </div>
        <div class="form-actions right1">
            <button type="button" id="btnCancel" class="btn default">
                Cancel
            </button>
            <button type="submit" id="btnSubmit" class="btn blue">
                Change
            </button>
        </div>

    </form>
</div>

<script>
    $("#validation").validate({
        rules: {
            newPass: {
                required: true
            },
            verifyPass: {
                required: true,
                equalTo: "#txtNewPassword"
            }
        },
        messages: {
            
            newPass: {
                required: "New Password required."
            },
            verifyPass: {
                required: "New Password required.",
                equalTo:"New password do not match."
            }
        },
            
        submitHandler: function(form) {
            form.submit();
        }
    });
</script>

