
<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5>Create Backup</h5>
    </div>


    <div class="panel-body">
        <form class="form-horizontal" role="form" style="margin-left: 10px">

            <textarea id="textAreaBackupStatus" name="w3review" rows="4" cols="50">


  
            </textarea>


            <div class="form-actions right1">
                <button type="button" id="btnSubmit" class="btn btn-primary">
                    Get BackUpFile
                </button>
            </div>


        </form>
    </div>
</div>

