
<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5>Restore Backup</h5>
    </div>


    <div class="panel-body">
        <form class="form-horizontal" role="form" style="margin-left: 10px">



            <div class="file-field">
                <div class="btn btn-primary btn-sm float-left">
                    <input id="getFile" type="file">
                </div>
            </div>


            <textarea id="textAreaBackupStatus" name="w3review" rows="4" cols="50">

            </textarea>


            <div class="form-actions right1">
                <button type="button" id="btnSubmit" class="btn btn-primary">
                    Restore BackUp
                </button>
            </div>


        </form>
    </div>
</div>

