
<link href="~/Scripts/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="panel panel-primary dialog-panel">

    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Capability Code</th>
                <th>Name</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Capability Code</th>
                <th>Name</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </tfoot>

    </table>
</div>

