

<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5>Ship/Depot Info Create</h5>
    </div>


    <input type="text" id="hdnWareHouseId" hidden="" value="0" />
    <input type="text" id="hdnSetupBy" hidden="" value="0" />
    <input type="text" id="hdnSetupDateTime" hidden="" value="0" />


    <div class="panel-body">
        <form class="form-horizontal" role="form" style="margin-left: 10px">
            <div class="row">

                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Program Name
                    </label>
                    <div class="col-md-4">
                        <input type="text" id="txtProgramName" class="form-control" placeholder="Program Name">
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Process Date
                    </label>
                    <div class="col-md-8">
                        <input readonly="" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-medium date-picker" id="dateProcess" placeholder="Select Date" size="16" type="text" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Warehouse Type
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlWaraHousType">
                            <option></option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Warehouse Code
                    </label>
                    <div class="col-md-4">
                        <input type="text" readonly="" id="txtWareHouseCode" class="form-control" placeholder="Warehouse Code(Auto)">
                    </div>
                </div>


                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Warehouse Name
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtWarehouseName" class="form-control" placeholder="Enter Warhouse Name">
                    </div>
                </div>



                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Address 1
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtAddress1" class="form-control" placeholder="Enter Address 1">
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">
                        Address 2
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtAdress2" class="form-control" placeholder="Enter Address 2">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Warehouse Belong to
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlShipDepot">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label">
                        Is Active
                    </label>
                </div>

            </div>

            <div class="form-actions right1">
                <button type="button" id="btnSubmit" class="btn btn-primary">
                    Save
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger">
                    Reset
                </button>

            </div>


        </form>
    </div>
</div>
