<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Scripts/toastr.css" rel="stylesheet" />
@*custom*@
<script src="~/CustomScripts/BinLocation/BinLocationSetupSetting.js"></script>
<script src="~/CustomScripts/BinLocation/CreateBinLocationSetup.js"></script>
<script src="~/CustomScripts/BinLocation/ViewBinLocationSetup.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageMetronic.cshtml";
}



<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Test</title>
</head>
<body class="">
<div role="main">
    <div id="content">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-7">
                    @Html.Partial("_Create")
                </article>
                <br />
                <article class="col-sm-12 col-md-12 col-lg-12">
                    @Html.Partial("_View")
                </article>
            </div>
        </section>
    </div>
</div>
</body>
</html>
