

<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5> Issue and Receive Item</h5>
    </div>


    <div class="panel-body">
        <form class="form-horizontal" role="form" style="margin-left: 10px">
            <div class="row">

                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Item Type
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlItemType">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Item Name
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlItemName">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Item Model
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlItemModel">
                            <option></option>
                        </select>
                    </div>
                </div>


</form>
    </div>
</div>
