
<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5>Menu Create</h5>
    </div>


    <input type="text" id="hdnMenuId" hidden="" value="0" />

    <div class="panel-body">
        <form class="form-horizontal" id="formValidateId" role="form" style="margin-left: 10px">
            <div class="row">



                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Parent Menu
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlParentMenu">
                            <option></option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Menu Name
                    </label>
                    <div class="col-md-8">
                        <input type="text" name="txtMenuName" required id="txtMenuName" class="form-control" placeholder="Menu Input">
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Menu Class
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtMenuClass" class="form-control" placeholder="Menu Class Input">
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Menu ID
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtMenuId" class="form-control" placeholder="Menu ID Input">
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Menu URL
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="txtMenuURL" class="form-control" placeholder="Menu URL Input">
                    </div>
                </div>




                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label">
                        Is Active
                    </label>
                </div>



            </div>

            <div class="form-actions right1">
                <button type="button" id="btnSubmit" class="btn btn-primary">
                    Save
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger">
                    Reset
                </button>

            </div>


        </form>
    </div>
</div>
