

<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5>Weapons Entry</h5>
    </div>

<input type="text" id="hdnWeaponsInfoId" hidden="" value="0" />
<input type="text" id="hdnSetupBy" hidden="" value="0" />
<input type="text" id="hdnSetupDateTime" hidden="" value="0" />

    <div class="panel-body">
        <form class="form-horizontal" role="form" style="margin-left: 10px">
            <div class="row">


                <div class="form-group">
                    <label class="col-lg-2 control-label">
                        Item Type
                    </label>
                    <div class="col-lg-6">
                        <select class="form-control" id="ddlWeaponsType">
                            <option></option>
                        </select>
                    </div>
                </div>



                <div id="imageDiv" class="form-group">

                    <label class="col-lg-8 control-label">
                        Image Input
                    </label>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <input type="file" id="getFile" onchange="readURL(this);" style="display: none" />
                            <img style="max-width: 180px;" id="blah" src="http://placehold.it/180" alt="No Image Found Please Add An Image" />
                            <button type="button" style="display: block; width: 120px; height: 30px; margin-top: 10px" onclick="document.getElementById('getFile').click()">Add Photo</button>
                        </div>
                    </div>

                </div>


                <div class="form-group">

                    <label id="ddlWeaponsNameL" class="col-lg-2 control-label">
                        Name OF Item
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlWeaponsName">
                            <option></option>
                        </select>
                    </div>


                    <label id="ddlGunModelTypeL" class="col-lg-2 control-label">
                        Item Model
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlGunModelType">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">

                    <label id="txtBrandL" class="col-lg-2 control-label">
                        Brand
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtBrand" class="form-control" placeholder="Item Brand">
                    </div>


                </div>


                <div class="form-group">


                    <label id="ddlYearOfManufactureL" class="col-lg-2 control-label">
                        Year Of Manufacture
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlYearOfManufacture">
                            <option></option>
                        </select>
                    </div>
                    <label id="txtGunRegNoL" class="col-lg-2 control-label">
                        Lot/Registration No
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtGunRegNo" class="form-control" placeholder="Weapons Registration No.">
                    </div>


                </div>



                <div class="form-group">


                    <label id="ddlCountryOfManufactureL" class="col-lg-2 control-label">
                        Country of Manufacture
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlCountryOfManufacture">
                            <option></option>
                        </select>
                    </div>

                </div>


                <div class="form-group">
                    <label id="ddlCountryOfOriginL" class="col-lg-2 control-label">
                        Country Of Origin
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlCountryOfOrigin">
                            <option></option>
                        </select>
                    </div>

                    <label id="txtPurposeL" class="col-lg-2 control-label">
                        Purpose
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtPurpose" class="form-control" placeholder="Enter Purpose">
                    </div>
                </div>




                <div class="form-group">
                    <label id="ddlYearOfProcurementL" class="col-lg-2 control-label">
                        Year Of Procurement
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlYearOfProcurement">
                            <option></option>
                        </select>
                    </div>

                    <label id="txtWarrentyPeriodL" class="col-lg-2 control-label">
                        Warrenty Period
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtWarrentyPeriod" class="form-control" placeholder="Enter Warrenty Period">
                    </div>
                </div>

                <div class="form-group">
                    <label id="ddlPriceTypeL" class="col-lg-2 control-label">
                        Price Type
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlPriceType">
                            <option></option>
                        </select>
                    </div>


                    <label id="txtUnitPriceL" class="col-lg-2 control-label">
                        Unit Price
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtUnitPrice" class="form-control" placeholder="Enter Unit Price">
                    </div>

                </div>


                <div class="form-group required">
                    <label id="txtQuantityL" class="col-lg-2 control-label">
                        Quantity
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtQuantity" class="form-control" placeholder="Enter Quantity">
                    </div>


                    <label id="txtTotalPriceL" class="col-lg-2 control-label">
                        Total Price
                    </label>
                    <div class="col-lg-4">
                        <input type="text" readonly="" id="txtTotalPrice" class="form-control" placeholder="Enter Total Price">
                    </div>
                </div>



                <div class="form-group">
                    <label id="ddlLocalAgentL" class="col-lg-2 control-label">
                        Local Agent
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlLocalAgent">
                            <option></option>
                        </select>
                    </div>

                    <label id="ddlPrincipalAgentL" class="col-lg-2 control-label">
                        Principal Agent
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlPrincipalAgent">
                            <option></option>
                        </select>
                    </div>
                </div>




                <div class="form-group">
                    <label id="ddlManufacturerAgentL" class="col-lg-2 control-label">
                        Manufacturer Agent
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlManufacturerAgent">
                            <option></option>
                        </select>
                    </div>


                    <label id="ddlQuantityCategoryL" class="col-lg-2 control-label">
                        Quantity Category
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlQuantityCategory">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label id="ddlDepotNameL" class="col-lg-2 control-label">
                        Depot Name
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlDepotName">
                            <option></option>
                        </select>
                    </div>


                    <label id="ddlProcurementCatagoryL" class="col-lg-2 control-label">
                        Procurement Catagory
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlProcurementCatagory">
                            <option></option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label id="ddlWarehouseNameL" class="col-lg-2 control-label">
                        Warehouse Name
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlWarehouseName">
                            <option></option>
                        </select>
                    </div>


                    <label id="ddlShelfNoL" class="col-lg-2 control-label">
                        Shelf No.
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlShelfNo">
                            <option></option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label id="ddlRowNoL" class="col-lg-2 control-label">
                        Row No.
                    </label>
                    <div class="col-lg-4">
                        <select class="form-control" id="ddlRowNo">
                            <option></option>
                        </select>
                    </div>

                    <label id="txtTechnicalSpecificationL" class="col-lg-2 control-label">
                        Technical Specification
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtTechnicalSpecification" class="form-control" placeholder="Enter Technical Specification">
                    </div>
                </div>



                <div class="form-group required">
                    <label id="txtWeightL" class="col-lg-2 control-label">
                        Weight
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtWeight" class="form-control" placeholder="Enter Weight">
                    </div>


                    <label id="txtDimentionsL" class="col-lg-2 control-label">
                        Dimentions
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtDimentions" class="form-control" placeholder="Enter Dimention">
                    </div>
                </div>



                <div class="form-group required">
                    <label id="txtMaximumRangeL" class="col-lg-2 control-label">
                        Maximum Range
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtMaximumRange" class="form-control" placeholder="Enter Maximum Range">
                    </div>


                    <label id="txtEffectiveRangeL" class="col-lg-2 control-label">
                        Efective Range
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtEffectiveRange" class="form-control" placeholder="Enter Effective Range">
                    </div>
                </div>

                <div class="form-group required">

                    <label id="txtMuzzleVelocityL" class="col-lg-2 control-label">
                        Muzzle Velocity
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtMuzzleVelocity" class="form-control" placeholder="Enter Muzzle Velocity">
                    </div>


                    <label id="txtBarrelLifeL" class="col-lg-2 control-label">
                        Barrel Life
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtBarrelLife" class="form-control" placeholder="Enter Barrel Life">
                    </div>
                </div>


                <div class="form-group required">
                    <label id="txtOperatingTempL" class="col-lg-2 control-label">
                        Operating Temp
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtOperatingTemp" class="form-control" placeholder="Enter Operating Temp">
                    </div>

                    <label id="txtStoringTempL" class="col-lg-2 control-label">
                        Storing Temp
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtStoringTemp" class="form-control" placeholder="Enter Storing Temp">
                    </div>
                </div>


            <div class="form-group required">


                <label id="ddlStatusL" class="col-lg-2 control-label">
                    Status
                </label>
                <div class="col-lg-4">
                    <select class="form-control" id="ddlStatus">
                        <option></option>
                    </select>
                </div>

                <label id="txtPreservationTempL" class="col-lg-2 control-label">
                    Preservation Temp
                </label>
                <div class="col-lg-4">
                    <input type="text" id="txtPreservationTemp" class="form-control" placeholder="Enter Preservation Temp">
                </div>



            </div>
            
            <div class="form-group required">
                <label id="txtHumadityL" class="col-lg-2 control-label">
                    Humadity
                </label>
                <div class="col-lg-4">
                    <input type="text" id="txtHumadity" class="form-control" placeholder="Enter Humadity">
                </div>

            </div>


            <div class="form-group required">
                <label id="dateOfReceivedL" class="col-lg-2 control-label">
                    Date Of Received After Acceptance
                </label>
                <div class="col-lg-4">
                    <input id="dateOfReceived" readonly="" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-medium date-picker" placeholder="Select Date" size="16" type="text" value="">
                </div>

                <label id="txtWorkOrderL" class="col-lg-2 control-label">
                    Contract/Workorder
                </label>
                <div class="col-lg-4">
                    <input type="text" id="txtWorkOrder" class="form-control" placeholder="Enter Contract/Workorder">
                </div>
            </div>
            
            
            
            <div class="form-group required">
                <label id="txtShelfLifeItemL" class="col-lg-2 control-label">
                    Shelf Life
                </label>
                <div class="col-lg-4">
                    <input type="text" id="txtShelfLifeItem" class="form-control" placeholder="Enter Shelf Life">
                </div>

                <label id="txtShelfLifeLauncherL" class="col-lg-2 control-label">
                    Shelf Life Of Launcher
                </label>
                <div class="col-lg-4">
                    <input type="text" id="txtShelfLifeLauncher" class="form-control" placeholder="Enter Launcher Shelf Life">
                </div>
            </div>
            
            
            <div class="form-group required">
                <label id="ddlPreparationTimeL" class="col-lg-2 control-label">
                    Preparation Time
                </label>
                <div class="col-lg-4">
                    <select class="form-control" id="ddlPreparationTime">
                        <option></option>
                    </select>
                </div>

                <label id="txtCombatDurationL" class="col-lg-2 control-label">
                    Combat Duration
                </label>
                <div class="col-lg-4">
                    <input type="text" id="txtCombatDuration" class="form-control" placeholder="Enter Combat Duration">
                </div>
            </div>
            
            
            
            <div class="form-group required">

                <label id="txtTestFiringL" class="col-lg-2 control-label">
                    Test Firing
                </label>
                <div class="col-lg-4">
                    <input type="text" id="txtTestFiring" class="form-control" placeholder="Enter Test Firing Status">
                </div>

                <label id="dateOfTestFiringL" class="col-lg-2 control-label">
                    Test Firing Date
                </label>
                <div class="col-lg-4">
                    <input id="dateOfTestFiring" readonly="" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-medium date-picker" placeholder="Select Date" size="16" type="text" value="">
                </div>

            </div>



            <div class="form-group required">
                    <label id="txtRemarksL" class="col-lg-2 control-label">
                        Others/Remarks
                    </label>
                    <div class="col-lg-4">
                        <input type="text" id="txtRemarks" class="form-control" placeholder="Enter Others/Remarks">
                    </div>
                </div>



            </div>

            <div class="form-actions right1">
                <button type="button" id="btnSubmit" class="btn btn-primary">
                    Save
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger">
                    Reset
                </button>

            </div>


        </form>
    </div>
</div>
<script>
    function readURL(input) {
        debugger;
        var fileType = document.getElementById("getFile").files[0].type.toString().replace(/application/i, "");
        if (fileType == "image/jpeg" || fileType == "image/png") {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        } else {
            toastr.warning("Only .jpg  or .png");
        }


    }
</script>