<div class="panel panel-primary dialog-panel">
    <div class="panel-heading">
        <h5>User Create</h5>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" style="margin-left: 10px">
            <div class="row">

                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <div class="form-group">
                            <label for="txtFullName">
                                Full Name:
                            </label>
                            <input type="text" id="txtFullName" class="txt form-control" placeholder="User full Name Input" />
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <div class="form-group">
                            <label for="txtUserName">
                                User Name:
                            </label>
                            <input type="text" id="txtUserName" class="txt form-control" placeholder="User Name Input" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <div class="form-group">
                            <label for="password">
                                Password:
                            </label>
                            <input type="password" id="password" class="txt form-control" placeholder="Enter Password"/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <div class="form-group">
                            <label for="reTypepassword">
                                Retype Password:
                            </label>
                            <input type="password" id="reTypepassword" class="txt form-control" placeholder="Enter Retype Password" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-6">
                        <div class="form-group">
                            <label>User Role:</label>
                            <select class="form-control" id="ddlUserRole">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkIsActive">
                                <label class="form-check-label">
                                    Is Active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input type='file' id="getFile" onchange="readURL(this);" style="display: none" />
                        <img style="max-width: 180px;" id="blah" src="http://placehold.it/180" alt="your image" />
                        <button type="button" style="display: block; width: 120px; height: 30px; margin-top: 10px" onclick="document.getElementById('getFile').click()">Add Photo</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="form-actions right1">
            <button type="submit" id="btnSubmit" class="btn btn-primary">
                Save
            </button>
            <button type="button" id="btnCancel" class="btn btn-danger">
                Reset
            </button>

        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>